.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Couvre toute la page */
    background-color: #b5673a; /* Couleur marron foncé en accord avec le thème de la boulangerie */
    padding: 15px 20px; /* Rembourrage pour l'en-tête */
    display: flex; /* Utilisation de flexbox pour l'agencement */
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center; /* Centrage vertical */
    color: white; /* Couleur du texte blanche pour un bon contraste */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Ombre portée pour donner de la profondeur */
    z-index: 1000; /* S'assurer que l'en-tête est au-dessus des autres éléments */
}

.fixed-header .logo img {
    width: 40px; /* Taille initiale du logo */
    transition: width 0.75s ease; /* Transition douce pour l'agrandissement */
}

.fixed-header .logo:hover img {
    width: 120px; /* Taille du logo au survol */
}

.fixed-header nav {
    flex-grow: 1; /* Permet à la navigation de prendre tout l'espace restant */
    display: flex; /* Flexbox pour l'alignement des éléments */
    justify-content: center; /* Centre la navigation */
}

.fixed-header nav ul {
    list-style-type: none; /* Suppression des puces de la liste */
    margin: 0; /* Aucune marge */
    padding: 0; /* Aucune marge intérieure */
    display: flex; /* Flexbox pour l'alignement des éléments */
    align-items: center; /* Centrer verticalement les éléments de la liste */
}

.fixed-header nav ul li {
    margin-right: 20px; /* Espacement entre les éléments de la liste */
}

.fixed-header nav ul li a {
    text-decoration: none; /* Pas de soulignement */
    color: white; /* Couleur blanche pour les liens */
    padding: 10px; /* Rembourrage pour les liens */
    display: flex; /* Alignement des éléments dans le lien */
    align-items: center; /* Centrage vertical */
    transition: color 0.3s ease; /* Transition pour le changement de couleur */
}

.fixed-header nav ul li a i {
    margin-right: 8px; /* Espacement entre l'icône et le texte */
}

.fixed-header nav ul li a:hover {
    color: #ffd700; /* Couleur dorée au survol pour attirer l'attention */
}

.main {
    padding: 20px; /* Rembourrage pour le contenu principal */
    margin-top: 80px; /* Marge supérieure pour éviter le chevauchement avec l'en-tête */
    display: flex; /* Flexbox pour l'alignement */
    flex-direction: column; /* Disposition verticale */
    align-items: center; /* Centrer le contenu */
}
